
.contadorCont {
    display: flex;
    align-items: center;
    margin: 0;
}

input#cantidad {
    width: 45px;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    margin:0;
}

.input-field {margin:0; padding:0}

.elPrecio {
    margin-bottom: 15px;
    margin-right: 0;
    float: none;
    padding:0 15px;
    font-size: 14px;
}